.column-flow-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row-flow-flexbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-flow-flexbox > *, .row-flow-flexbox * {
    margin: 5px;
}